#navbar{
  .divider{
     height: calc(4.375rem - 2rem);
     border-right: 1px solid #e3e6f0;
  }
  .navbar-nav{
    .nav-item{
      .nav-link:hover{
        i{
          color: #b7b9cc;
        }
      }
    }
  }
}
