<div class="mx-0 card border-0 mb-4 shadow-[0_.15rem_1.75rem_0_rgba(58,59,69,.15)!important]">
  <div class="card-header py-3 d-flex justify-content-between px-[20px] border-[1px_solid_#e3e6f0_!important]">
    <h6 class="title text-primary font-bold">Illustrations</h6>
  </div>
  <div class="card-body">
    <div class="img-container text-center">
      <img src="./assets/illustration.svg" class="px-[0.75rem] sm:px-[1.5rem_!important] d-inline mt-3 mb-[1.5rem]" style="width: 25rem" alt="illustration-img">
    </div>
    <div class="text">
      <p class="mb-3 text-[#858796]">Add some quality, svg illustrations to your project courtesy of <a href="#" class="hover:underline text-[#4e73df]">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
    </div>
    <a href="#" class="hover:underline text-[#4e73df]">
      Browse Illustrations on
      unDraw →
    </a>
  </div>
</div>
<div class="mx-0 card border-0 mb-4 shadow-[0_.15rem_1.75rem_0_rgba(58,59,69,.15)!important]">
  <div class="card-header py-3 d-flex justify-content-between px-[20px] border-[1px_solid_#e3e6f0_!important]">
    <h6 class="title text-primary font-bold">Development Approach</h6>
  </div>
  <div class="card-body">
    <p class="mb-3 text-[#858796]">SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
    <p class="text-[#858796]">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
  </div>
</div>
